'use strict';

{{#backend.express}}
const router = require('express').Router();
const example = require('../controllers');

//write all the routes needed here, can split into different files

router.get('/example', example.getExamples);
router.post('/example', example.postExample);
router.delete('/example/:_id', example.deleteExample);
router.update('/example/:_id', example.updateExample);

{{/backend.express}}

{{#backend.koa}}
const Router = require('koa-router');
const router = new Router();
const example = require('../controllers');

//write all the routes needed here, can split into different files

router.get('/example', example.getExamples);
router.post('/example', example.postExample);
router.delete('/example/:_id', example.deleteExample);
router.update('/example/:_id', example.updateExample);

{{/backend.koa}}

module.exports = router;