---
name: Example
menu: App
---

import { Playground, Props } from 'docz';
import app from './App.js';

# Example

## Properties
<Props of={App} />

## Basic usage

<Playground>
  <App />
</Playground>
