{
  "frontend":{
    "css": {{ frontend.css }},
    "styled-components": {{ frontend.styled_components }},
    "sass": {{ frontend.sass }},
    "redux": {{frontend.redux}},
    "query": {{frontend.query}},
    "mobx": {{frontend.mobx}},
    "routing": {{ frontend.routing }},
    "react-helmet": {{ frontend.helmet }},
    "jest":{{ frontend.jest }},
    "mocha":{{ frontend.mocha }},
    "cypress":{{ frontend.cypress }},
    "storybook": {{ frontend.storybook }},
    "documentation": {{ frontend.documentation }}
  },
  "backend":{
    "express": {{backend.express}},
    "koa": {{backend.koa}},
    "mongoDB": {{ backend.mongoDB }},
    "postgreSQL": {{ backend.postgreSQL }},
  }
}