{
  "frontend":{
    "styling": "{{ frontend.style_system }}",
    "state_management": "{{ frontend.state_management }}",
    "routing": "{{ frontend.routing }}",
    "react_helmet": "{{ frontend.helmet }}",
    "testing_library": "{{ frontend.testing }}",
    "storybook": "{{ frontend.storybook }}",
    "docz_library": "{{ frontend.documentation }}"
  },
  "backend":{
    "backend_framework": "{{ backend.backend_type }}",
    "database": "{{ backend.database }}"
  }
}