{
  "name": "{{ common.app_name }}",
  "version": "{{ common.version }}",
  "description": "Fullstack Javascript App in Boilerplate",
  "main": "index.js",
  "files": [
    "CHANGELOG.md",
    "README.md",
    "package.json"
  ],
  "keywords": [
    "library"
  ],
  "author": "{{ common.author }}",
  "license": "{{ common.license }}",
  "private": {{ common.private }}
}