{
  "name": "{{ app_name }}",
  "version": "{{ version }}",
  "description": "Fullstack Javascript App in Boilerplate",
  "main": "index.js",
  "files": [
    "CHANGELOG.md",
    "README.md",
    "package.json"
  ],
  "keywords": [
    "library"
  ],
  "author": "{{ author }}",
  "license": "{{ license }}",
  "private": {{ private }},
  "scripts": {
  }
}